body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F0F0F0;
    overflow: hidden;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #FF0000;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    color: #d832e7;
    font-weight: bold;
    box-shadow: 0px 0px 10px #000000;
    transition: transform 2s;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}